body{
    background-color: #1F2937;
    font-family: Roboto;
    
}
ul{
    margin: 0%;
}

header{
    position: relative;
box-sizing: border-box;
    display: flex;
   
    padding: 2px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.container{
    position: relative;
    display: flex;
   
    padding: 2px;
    align-items: center;
    justify-content: center;
    width:100%;
    
}

.content{

    position: relative;
    display: flex;
    
    
    width: 70%;
    align-items: center;
    justify-content: center;
   
   
}
.site-logo{
    position: absolute;
    display: inline;
   
    left: 0;
    
    
}

.link-component{
    position: absolute;
    display: block;
    
    right: 10%;
    
}

#Icon-header{
    display: flex;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    margin: 0%;
}

.link-component li{
    

    display: inline;
    font-size: 18px;
    color: #E5E7EB;
    margin-right: 10px;

}

.objects{
    
    display: flex;
    padding: 5px;

    margin-top: 50px;
    margin-bottom: 50px;
   
    
}

.columns{

    display: flex;
    
     flex-direction: column;
     margin: 80px;
    
}

.columns p.Hero-text{
    display: inline;
    color:white;
    font-size: 3em;
    font-weight:900;
    
}
.colx{
    display: inline;
}
.coly{

    display: inline;
    
}
.subtitle-front{
    color: white;
    font-size: 18px;
    color: #E5E7EB;

}
button{
   background-color: #3882f6;
    height: 40px;
    width: 100px;
    color: white;
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
    border-color:   #3882f6;
    
    
}
#second{
    justify-content: center;
    align-items: center;                                                                                                            
}

.placeholder-img{                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
    display: flex   ;                                                       
    justify-content: center;                                                                                                                                                                                                                                                                                            
    align-items: center;
    background-color: rgba(255, 255, 255, 0.293);
    border-color:rgba(255, 255, 255, 0.293) ;
    height: 240px;
    width: 600px;

    &.placeholder-img > p{
        color: white;
    }
}            
#content2{
    display: flex;
    flex-direction: column ;
    margin: 100px;
}

#Part-two{

display: flex;
background-color: white;
flex-direction: column;
}

#col-text{
    margin: 40px;

    
    &#col-text>p{

        font-size: 36px;
        font-weight: bolder;
        font:#1F2937;
    }
}
#col-items{
    display: flex;
    flex-direction: row;
    margin: 0;

}

.boxes{
    display: flex;
    height:150px;
    width: 150px;  
    border: 4px solid  #3882f6;  
    border-radius: 20px;
    margin: 20px;

}

.quote{
    display: flex;
    background-color: #e5e7eb;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.quote-text{
    margin: 100px;
}
.quote-text>pre{

    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
   
}
blockquote{
   display: inline;
   font-size: 30px;
   font-weight: bold;
    
}
.sign-up{
    display: flex;
    background-color: white;
    justify-content: center;
    align-self: center;
}

.sign-up-container
{
    display: flex;
    align-items: left;
    justify-content: center;
    height:15vh;
    width: 120vh;
    background-color: #3882f6;
    border-radius:20px;
    margin: 5%;
    flex-direction: column;
    
}

.sign-up-items{                                                                 
    margin-left:                                                                                                                                                                                                                                                                                20px;
    
}

#text1{
    color: #E5E7EB;
    font-size: 1.5em;
    font-weight: bold;
}   

#text2{
    color: #E5E7EB;
}
.inside-signup{

    display: flex;
    position: relative;
    align-items: left;
    justify-content: center;
    margin: 10px;
}

.sign-up-btn{
    position: absolute;
    right: 50px;
   
}                                                                                                                                                                                               
   
button{
    border-color: white;
}

.footerText{
    display: flex;
    align-items: center;
    justify-content: center;
}
.foot-div{
    display: flex;
    margin: 10px;
}
.foot-div>p{

    color:white;
}